<div id="wrapper" class="toggled">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
          <li> <a [routerLink]="['/admindashboard']" routerLinkActive="active">Dashboard</a> </li>
          <li> <a [routerLink]="['/incubatorlist']" routerLinkActive="active" >Show Responce</a> </li>
          <li> <a [routerLink]="['/adminabout']" routerLinkActive="active">About</a> </li>
          <li> <a [routerLink]="['/adminservices']" routerLinkActive="active">Services</a> </li>
          <li> <a [routerLink]="['/admincantact']" routerLinkActive="active">Contact</a> </li>
      </ul>
  </div> <!-- /#sidebar-wrapper -->
  <!-- Page Content --><nav class="navbar navbar-expand navbar-dark bg-primary"> <a href="#menu-toggle" id="menu-toggle" class="navbar-brand"><span class="navbar-toggler-icon"></span></a>
</nav>
  <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="container">

        </div>


        <!-- Page content -->
        <div class="w3-content" style="max-width:2000px;margin-top:46px">



          <!-- The Band Section -->
          <h2 class="w3-wide w3-center">CONTACT MAILS</h2>
          <p class="w3-opacity w3-center"><i>we will Update Soon...</i></p>
          <div class="w3-row w3-padding-32">

          </div>

    </div>

      </div>
  </div>
</div>
