<div id="wrapper" class="toggled">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
          <li> <a [routerLink]="['/admindashboard']" routerLinkActive="active">Dashboard</a> </li>
          <li> <a [routerLink]="['/incubatorlist']" routerLinkActive="active" >Show Responce</a> </li>
          <li> <a [routerLink]="['/adminabout']" routerLinkActive="active">About</a> </li>
          <li> <a [routerLink]="['/adminservices']" routerLinkActive="active">Services</a> </li>
          <li> <a [routerLink]="['/admincantact']" routerLinkActive="active">Contact</a> </li>
      </ul>
  </div> <!-- /#sidebar-wrapper -->
  <!-- Page Content --><nav class="navbar navbar-expand navbar-dark bg-primary"> <a href="#menu-toggle" id="menu-toggle" class="navbar-brand"><span class="navbar-toggler-icon"></span></a>
</nav>
  <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="container">

        </div>


        <!-- Page content -->
        <div class="w3-content" style="max-width:2000px;margin-top:46px">



          <!-- The Band Section -->
          <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
            <h2 class="w3-wide">The Oneture</h2>

            <p class="w3-justif">Oneture is an incubator with a specific focus on sports and technology. Our mission is to select talented and unique teams to invest on, and help them to grow their businesses. We believe this choice to be strategic because of a few reasons:
              </p>
              <div class="w3-row w3-padding-32">
                <div class="w3-third">
                  <p>Sports industry is growing at very fast pace in terms of innovation.</p>
                </div>
                <div class="w3-third">
                  <p>Innovation (we are the first Sports Tech Incubator in Italy and there are only a few similar entities in Europe).</p>
                </div>
                <div class="w3-third">
                  <p>We believe that the sports tech industry will be able to attract young and creative talents more than other business industries.</p>
                </div>
              </div>
          </div>

    </div>




      </div>
  </div>
</div>
